<!DOCTYPE html>
<html lang="en" xmlns:svg="http://www.w3.org/2000/svg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NEON-dX BOM Calculator</title>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="bomc" ng-controller="main">
    <aside>
        <div class="tab-content-panel" ng-class="{'active':true}">
            <div class="aside-nav">
                <ul class="accordian-nav">
                    <li ng-repeat="group in inputGroups track by $index">
                        <div style="color:blue"></div>
                        <input type="checkbox" ng-checked="true" class="toggle-check custom-scroll" id="{{group.name}}">
                        <label ng-click="toggleCheck($index)" class="main-child">{{group.name}}
                            <span class="progress-mini">
                                <!-- <i class="percentage" style="width:{{group | percentageCompleted}}%; background: hsl({{group | percentageCompleted}},78%,56%)"></i> -->
                            </span>
                        </label>

                        <ul class="sub-navs">
                            <li ng-repeat="inp in group.inputs track by $index">
                                <!-- Label start -->
                                
                                <label>{{inp.description}}{{inp.required? "*" : '?'}}</label>
                                <!-- Label end -->
                                <!-- Check box-->
                                <span ng-switch="inp.type">
                                        <span ng-switch-when="number">
                                            <!-- number -->
                                                <input type="text"  number-only="{{inp.max}}"
                                                ng-model="inp.value">
                                        </span>
                                        <span ng-switch-when="string">
                                            <!-- string -->
                                            <input type="text"  ng-model="inp.value">
                                        </span>
                                        <span ng-switch-when="bool">
                                            <!-- bool -->
                                            <input type="checkbox" ng-model="item.value" style="width:13px;">
                                        </span>
                                        <span ng-switch-when="list">
                                            <!-- list -->
                                            <select multiple="true"  ng-model="inp.value"
                                                class="custom-style field" style="width: 63%;">
                                                <option ng-repeat="item in inp.items track by $index" value="{{item}}">{{item}}</option>
                                            </select>
                                        </span>
                                        <span ng-switch-default>ERROR??</span>
                                </span>

                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </aside>



    <script src='bomc.bundle.js'></script>
    <script src='frontend.bundle.js'></script>
</body>

</html>